.item {
  font-size: 1rem;
  list-style-type: none;
  padding: 14px 25px;
  border-bottom: 1px solid #fff;
  background: #ecf1ec;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.content span {
  flex: 1;
  order: 1;
}

.content button {
  order: 2;
  margin-left: 7px;
  background-color: #0e0b7a;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.content .Edit {
  background-color: #4caf50;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.Edit:hover,
.Delete:hover {
  background-color: #3e8e41;
}

.textInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
  outline: none;
}
